<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script src="utils.js"></script>
<script src="instance.js"></script>
<script src="world.js"></script>
</head>
	

<body>
<header class="navbar navbar-static-top" style="border-bottom:1px solid gray">
	<div class="container">
		<h1>survive playground</h1>
	</div>
</header>


<div ng-app="myApp" ng-controller="ctrl" style="width:1028px;margin:auto">
	<div class="col-md-8">

        <div style="font-size:20px">
            <span>Alience will land in next {{world.next_wave_count}} seconds</span>
            <div style="background-color:black;width:{{world.next_wave_count/2}}px;height:10px;">
            </div>
        </div>
        <div style="border-bottom:1px solid gray;
                margin-bottom:10px;
                padding:10px;font-size:20px">
                <span class="glyphicon glyphicon-play" ng-click="start()"></span>
		        <span class="glyphicon glyphicon-pause" ng-click="end()"></span>
		        <span class="glyphicon glyphicon-eye-open" ng-click="learn()"></span>
		        <span class="glyphicon glyphicon-step-forward" ng-click="step()"></span>	
        </div>

        <div style="position:absolute;">
		<div ng-repeat="tile in map.tiles"
			style="position:absolute;
			  left:{{tile.loc.x * 20}}px;
			  top:{{tile.loc.y * 20}}px;
			  display:blocked;
			  width:20px;text-align:center;
              border:1 px solid yellow;
			  height:20px;background-color:#{{gen_gray_color(tile.res)}}">
              {{tile.res}}
		</div>
	
		<div ng-repeat="agent in agents"
			ng-click="focus_agent(agent)"
			style="position:absolute;
			  top:{{agent.pos_y}}px;
			  left:{{agent.pos_x}}px;
			  display:blocked; text-align:center;
			  width:{{agent.size}}px;
              background-color:#{{gen_id_color(agent.id)}};
			  height:{{agent.size}}px;border:2px solid black;
			  ">
		</div>
        </div>

	</div>
	<div class="col-md-4">
        <ul id="rightTab" class="nav nav-tabs">
	        <li class="active">
                <a href="#control" data-toggle="tab"> control panel</a>
	        </li>
	        <li>
                <a href="#alive_agents" data-toggle="tab"> population {{agents.length}}</a>
	        </li>
            <li>
                <a href="#dead_agents" data-toggle="tab"> corpse {{death.length}}</a>
            </li>
        </ul>
        <div class="tab-content" id="rightTabContent">
            <div class="tab-pane fade in active" id="control" style="margin-top:5px;">
                <ul class="list-group">
		        <li class="list-group-item">speed: {{focus.attributes.speed}}</li>
		        <li class="list-group-item">wait: {{focus.slice}}</li>
		        <li class="list-group-item">energy: {{focus.attributes.energy}}</li>
		        <li class="list-group-item">intelligence: {{focus.attributes.intelligence}}</li>
		        <li class="list-group-item">reproduce: {{focus.attributes.reproduce_slice}}</li>
                </ul>
		        <div ng-repeat="act in focus.view">
                <table class = "table">
			        <caption>action {{focus.actions[$index].name}}</caption>
                    <tbody>
			        <tr ng-repeat="row in act.data">
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td>{{row[3]}}</td>
                        <td>{{row[4]}}</td>
			        </tr>
                    </tbody>
                </table>
		        </div>
            </div>
            <div class="tab-pane fade" id="alive_agents">
                <ul class="list-group" style="margin-top:10px">
		            <li class="list-group-item" ng-repeat="agent in agents">agent id: {{agent.id}}, speed: {{agent.attributes.speed}}, int: {{agent.attributes.intelligence}} </li>
		        </ul>
            </div>
            <div class="tab-pane fade" id="dead_agents">
		        <ul class="list-group" style="margin-top:10px">
		            <li class="list-group-item" ng-repeat="agent in death">agent id: {{agent.id}}, speed: {{agent.attributes.speed}}, int: {{agent.attributes.intelligence}} </li>
		        </ul>
            </div>
        </div>
	</div>


</div>
</body>
</html>
